<div class="cards-wrapper" data-homepage-search-target="cardWrapper">
  <% if hospitals.empty? %>
    <h4 class="text-center mx-auto">No results found for <span style="color: red;"><%= query %></span></h1>
  <% else %>
    <% hospitals.each do |hospital| %>
      <div class="hospital-card d-flex justify-content-between">
        <%= cl_image_tag hospital.photo.key %>
        <div class="right-content"
              data-controller="hospital-subscription"
              data-hospital-subscription-hospital-id-value="<%= hospital.id %>">
          <div class="d-none"
                data-hospital-subscription-target="position">coco de louro</div>

          <div class="hospital-info">
            <%= link_to hospital_path(hospital) do %>
              <h3><%= hospital.name %></h3>
            <% end %>
            <p><%= hospital.address %></p>
          </div>
            <div>
              <p class="time-position first-text">Tempo estimado de espera:</p>
              <p data-hospital-subscription-target="minutes" class="time-position"><%= hospital.total_waiting_time %> minutos</p>
            </div>
          <%= link_to "Entrar na fila", new_hospital_appointment_path(hospital), class: "btn btn-primary w-100" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
