<div class="content">
  <div class="two_column left">
    <a data-panel="[]" class="nav_item active" href="http://localhost:3000/account_details">Detalhes da conta</a>
    <a data-panel="[]" class="nav_item " href="http://localhost:3000/plan_details">Detalhes do plano</a>
    <a data-panel="[]" class="nav_item " href="http://localhost:3000/medical_data">Informações medicas</a>
  </div>
  <div class="two_column right">
    <%= simple_form_for [@user] do |f| %>
      <%= f.input :first_name, as: :string, input_html: { readonly: true, value: current_user.first_name }, label: 'Nome:' %>
      <%= f.input :last_name, as: :string, input_html: { readonly: true, value: current_user.last_name }, label: 'Sobrenome:' %>
      <%= f.input :email, as: :string, input_html: { value: @user.email }, label: 'Email:' %>
      <%= f.input :cpf, as: :integer, input_html: { value: @user.cpf }, label: "Cpf:" %>
      <%= f.input :birthdate, as: :date, label: 'Data de nascimento:' %>
      <%= f.input :address, as: :string, input_html: { value: @user.address }, label: "Endereço:" %>
      <div class="d-flex gap-3">
        <%= f.button :submit, "Editar", class: "btn btn-primary w-100 text-center"%>
        <%= f.button :submit, "Salvar", class: "btn btn-primary w-100 text-center"%>
      </div>
    <% end %>
	</div>
</div>
