<div id="homepage">
  <div class="banner">
    <%= video_tag "UrgenciaBackground2.mp4", autoplay: true, loop: true, muted: true %>
    <div class="container">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="hospitals-index">
    <h2 class="text-center">Browse Hospitals</h2>
    <% @hospitals.each do |hospital| %>
      <%= link_to hospital.name, new_hospital_appointment_path(hospital) %>
    <% end %>
  </div>
</div>
