<div id="homepage" class="d-grid" data-controller="homepage-search">
  <div class="banner"
       data-homepage-search-target="banner">
    <%= video_tag "UrgBackOFFICIAL.mp4", autoplay: true, loop: true, muted: true %>
    <div class="container text-center">
      <%= image_tag "uo_logo.png"%>
      <h1 class="text-center logo">Urgência Online</h1>
      <p class="text-center logo">Procure por um hospital específico</p>
      <%= form_with url: root_path, method: :get, class: "d-flex search-bar", data: { homepage_search_target: "form" } do %>

        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Buscar hospitais",
              data: { homepage_search_target: "searchbar", action: "keyup->homepage-search#searchHospitals" }
          %>
        <%= submit_tag "Buscar", name: "", class: "btn btn-primary d-hidden" %>
      <% end %>
    </div>
  </div>

  <div class="hospitals-index container">
    <h2 class="text-center">Selecione um hospital</h2>
    <%= render partial: "hospital_card", locals: { hospitals: @hospitals, query: @query } %>
  </div>
</div>
