<div id="homepage" class="d-grid">
  <div class="banner">
    <%= video_tag "UrgBackOFFICIAL", autoplay: true, loop: true, muted: true %>
    <div class="container text-center">
      <%= image_tag "uo_logo"%>
      <h1 class="text-center">Urgência Online</h1>
      <p class="text-center">Procure por um hospital específico</p>
      <%= form_with url: root_path, method: :get, class: "d-flex search-bar" do %>

        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Buscar hospitais"
          %>
        <%= submit_tag "Buscar", name: "", class: "btn btn-primary d-hidden" %>
      <% end %>
    </div>
  </div>

  <div class="hospitals-index container">
    <h2 class="text-center">Browse Hospitals</h2>
    <div class="cards-wrapper">
      <% @hospitals.each do |hospital| %>
        <div class="hospital-card d-flex justify-content-between">
          <%= image_tag "MapsHospital2.png" %>
          <div class="right-content">
            <div class="hospital-info">
              <h3><%= link_to hospital.name, new_hospital_appointment_path(hospital) %></h3>
              <p><%= hospital.address %></p>
            </div>
            <%= link_to "Entrar na fila", new_hospital_appointment_path(hospital), class: "btn btn-primary w-100" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
