<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('account.jpg') %>)">
INFORMAÇÕES MÉDICAS</div>
<div class="container acc-details-pages">
  <div class="two_column left">
    <%= link_to "Detalhes da conta", account_details_path, class: "nav_item active", data: { panel: [] } %>
    <%= link_to "Detalhes do plano", plan_details_path, class: "nav_item", data: { panel: [] } %>
    <%= link_to "Informações médicas", medical_data_path, class: "nav_item", data: { panel: [] } %>
  </div>
  <div class="two_column right" data-controller="medical-records">
    <% if @medical_data.nil? %>
      <%= simple_form_for [@medical_record] do |f| %>
        <%= f.input :blood_type, as: :string, input_html: { disabled: true, value: " ", class: 'account-input' }, label: 'Tipo sanguineo:' %>
        <%= f.input :allergies, as: :string, input_html: { disabled: true, value: " ", class: 'account-input' }, label: 'Alergias:' %>
        <%= f.input :weight, as: :integer, input_html: { disabled: true,value: " ", class: 'account-input' }, label: "Peso (Kg):" %>
        <%= f.input :height, as: :integer, input_html: { disabled: true,value: " ", class: 'account-input' }, label: "Altura (metros):" %>
        <%= f.input :health_conditions, as: :string, input_html: { disabled: true, value: " ", class: 'account-input' }, label: "Condições:" %>
        <div class="d-flex gap-3">
        <button id="edit-button" class="btn btn-primary w-100 text-center"
        data-action="click->medical-records#edit"> Editar </button>
        <%= f.button :submit, "Salvar", class: "btn btn-primary w-100 text-center d-none", id: "save-button" %>
      </div>
      <% end %>
    <% else %>
      <%= simple_form_for [@medical_data] do |f| %>
        <%= f.input :blood_type, as: :string, input_html: { disabled: true, value: @medical_data.blood_type, class: 'account-input' }, label: 'Tipo sanguineo:' %>
        <%= f.input :allergies, as: :string, input_html: { disabled: true, value: @medical_data.allergies, class: 'account-input' }, label: 'Alergias:' %>
        <%= f.input :weight, as: :integer, input_html: { disabled: true,value: @medical_data.weight, class: 'account-input' }, label: "Peso (Kg):" %>
        <%= f.input :height, as: :integer, input_html: { disabled: true,value: @medical_data.height, class: 'account-input' }, label: "Altura (metros):" %>
        <%= f.input :health_conditions, as: :string, input_html: { disabled: true, value: @medical_data.health_conditions, class: 'account-input' }, label: "Condições:" %>
        <div class="d-flex gap-3">
        <button id="edit-button" class="btn btn-primary w-100 text-center"
        data-action="click->medical-records#edit"> Editar </button>
        <%= f.button :submit, "Salvar", class: "btn btn-primary w-100 text-center d-none", id: "save-button" %>
      </div>
      <% end %>
    <% end %>
	</div>
</div>
