<div class="content">
  <div class="two_column left">
    <a data-panel="[]" class="nav_item " href="http://localhost:3000/account_details">Detalhes da conta</a>
    <a data-panel="[]" class="nav_item active" href="http://localhost:3000/plan_details">Detalhes do plano</a>
    <a data-panel="[]" class="nav_item " href="http://localhost:3000/medical_data">Informações medicas</a>
  </div>
  <div class="two_column right">
    <% if @plan_detail.nil? %>
      <%= simple_form_for [@plan_detail_new] do |f| %>
        <%= f.input :insurance_plan_id, collection: @insurance_plans, label: 'Nome do plano:', value_method: :id %>
        <%= f.input :product, as: :string, label: 'Produto:' %>
        <%= f.input :id_code, as: :integer, label: "Código do produto:" %>
        <%= f.input :plan, as: :string, label: "Plano:" %>
        <%= f.input :cns, as: :string, label: "CNS:" %>
        <div class="d-flex gap-3">
          <%= f.button :submit, "Edit", class: "btn btn-primary w-100 text-center"%>
        </div>
      <% end %>
    <% else %>
      <%= simple_form_for [@plan_detail] do |f| %>
        <%= f.input :insurance_plan_id, collection: @insurance_plans, input_html: { value: @plan_detail.insurance_plan_id }, label: 'Nome do plano:', value_method: :id %>
        <%= f.input :product, as: :string, input_html: { value: @plan_detail.product }, label: 'Produto:' %>
        <%= f.input :id_code, as: :integer, input_html: { value: @plan_detail.id_code }, label: "Código do produto:" %>
        <%= f.input :plan, as: :string, input_html: { value: @plan_detail.plan }, label: "Plano:" %>
        <%= f.input :cns, as: :string, input_html: { value: @plan_detail.cns }, label: "CNS:" %>
        <div class="d-flex gap-3">
          <%= f.button :submit, "Edit", class: "btn btn-primary w-100 text-center"%>
        </div>
      <% end %>
    <% end %>
	</div>
</div>
