<div id="hospital-show" class="d-flex align-items-center">
  <%# <%= video_tag "BIO.mp4", autoplay: true, loop: true, muted: true, class:"hospital-bg"%>
  <%= image_tag "DNA.jpg", class:"hospital-bg"%>
  <div class="container hospital_details ">
    <div class="row justify-content-center">
      <div class="col-md-4 display-detail d-flex align-items-center hospital-photo">
        <%= cl_image_tag(@hospital.photo.key, class: "img-fluid border border-dark") %>
      </div>
      <div class="col-md-6">
        <h2><%= @hospital.name %></h2>
        <p><%= @hospital.address %></p>
        <% position = Appointment.where(hospital_id: @hospital).count %>
        <p> Planos aceitos:</p>
        <ul>
            <li>
          <% @coverages.each do |coverage| %>
              <%= coverage.insurance_plan.name %>
          <% end %>
          </li>
        </ul>

        <% position_minutes = position * 20 %>
        <% if position_minutes >= 60 %>
          <% hours = position_minutes / 60 %>
          <% remaining_minutes = position_minutes % 60 %>
          <% if hours == 1 %>
            <p class="time-position">Tempo estimado: <%= "#{hours} hora e #{remaining_minutes} minutos" %></p>
          <% else %>
            <p class="time-position">Tempo estimado: <%= "#{hours} horas e #{remaining_minutes} minutos" %></p>
          <% end %>
        <% else %>
          <p class="time-position">Tempo estimado: <%= "#{position_minutes} minutos" %></p>
        <% end %>
        <%= link_to "Entrar na fila", new_hospital_appointment_path(@hospital), class: "btn btn-primary d-inline-block" %>
      </div>
    </div>
  </div>
</div>
