<div class="login-page">
  <div class="registration">
    <%=image_tag "urg2.png"  %>
      <p class="text">Acesse sua conta agora mesmo</p>
    <%= link_to "Cadastrar", new_user_registration_path, class:"register-button large-button" %>
  </div>

  <div class="login">
    <h2 class="centered-text">Acesse sua conta</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } %>
        <%= f.input :password, required: false, input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Entrar", class: "large-button" %>
      </div>
    <% end %>
  </div>
</div>
