<div class="appointment-new">
  <%= simple_form_for [@hospital, @appointment] do |f| %>
    <%= f.input :user_name, as: :string, input_html: { readonly: true, value: "#{current_user.first_name} #{current_user.last_name}" }, label: 'Seu nome' %>
    <%= f.input :hospital_name, as: :string, input_html: { readonly: true, value: @hospital.name }, label: 'Nome do hospital' %>
    <%= f.input :color_protocol, collection: Appointment::COLOR_PROTOCOLS, label: "Gravidade" %>
    <%= f.input :description, label: 'Descrição (descreva como se sente, informando sua temperatura e pressão):' %>
    <div class="d-flex gap-3">
      <%= link_to "Cancelar", root_path, class: "btn btn-primary w-100 text-center" %>
      <%= f.button :submit, "Entrar na fila", class: "btn btn-primary w-100 text-center"%>
    </div>
  <% end %>
</div>
